table, th, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(67, 207, 184);font-size: 120px;padding: 30px;text-align: center;      border:10px groove rgb(0, 0, 0);margin: 0 auto;}
h3{font-family: Arial, Helvetica, sans-serif; color: blue; text-align: center;}
h2{font-family: Arial, Helvetica, sans-serif; font-size: 50px;}

.question{font-size: 40px; color: darkgoldenrod;}
.table{display: flex; flex-direction: row; justify-content: space-around;}
.jojo{color: deeppink;}
.naruto{color: darkorange;}
.opm{color: crimson;}
.ovl{color: darkgrey;}
.asc{color: darkred;}
.kob{color: cornflowerblue;}
.sao{color: aqua;}
.pk{color: goldenrod;}
.db{color: orangered;}

ul{font-family: Arial, Helvetica, sans-serif; font-size: 25px;}

p{font-size: 20px; font-family: 'Times New Roman', Times, serif;}

.text{display: flex; flex-wrap: wrap;}
.header{font-family: Arial, Helvetica, sans-serif;font-size: 40px; display: flex; justify-content: space-around;}
.image{padding:0px 50px 0px 150px; display: flex; flex-direction: column;}
.haha{display: flex; flex-direction: column; }
.hahaha{display: flex; flex-direction: row; ;}
.image2{padding: 0px 0px 0px 100px;}
.margin{margin: 0px 0px 0px 120px;}

a:hover {
    color: orange; 
    text-decoration:underline;
    text-shadow: 5px 5px 20px #00e5ff; }



.container-item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0px 50px 80px 80px;
    width: 700px;
    flex-basis: 50px;
    flex-grow: 1;
}