ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    padding-inline-start: 10px;
  }
  
  li {
    float: left;
    padding: 0 10px;
  }
  
  li a {
    display: block;
    padding: 8px;
    color: white;
    background-color: aqua;
    opacity: 75%;
    border-radius: 25px;
  }