body{background-color:aqua;}

h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgoldenrod;font-size: 100px;padding: 100px 50px 30px;border:10px groove darkred;}
h2{font-size: 70px;padding: 50px;}

p{color: chocolate;}

.test{font: bold;color: darksalmon;}
.again{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: chartreuse;}

.wrapper{border: 5px dotted darkgoldenrod;}
