h1{font-family: bancor;
    color: rgb(61, 164, 224);font-size: 120px;padding: 30px;text-align: center;      border:10px groove rgb(0, 0, 0);margin: 100px 0px 0px 0px;}
    h2{font-size: 25px;color: rgb(82, 82, 242);}

    .xyz{display: flex; flex-direction: column; align-items: center;}
    .pokemon{display: flex; justify-content: space-around;}

    .dandan{border: 2px solid black;}
   
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background: #f1f1f1;
        color: black;
      }
      
      .topnav a.active {
        background-color:rgb(61, 164, 224);
        color: white;
      }

      .topnav{font-size: 50px; font-family: Arial, Helvetica, sans-serif; }

      .topnav .icon {
        display: none;
      }

      @media (max-width: 768px) {
        body {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .pokemon {display: flex;
        flex-direction: column;
      justify-content: center;}
      .xyz{display: flex; flex-direction: column;justify-content: center;}
      h1{font-size: 80px;}
    
      }
      @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {display: none;}
        .topnav a.icon {
          float: right;
          display: block;
        }
      }
      
      @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
      }

      @font-face {
        font-family: bancor;
        src: url(RIMONS.ttf);
      }