h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(224, 61, 61);font-size: 120px;padding: 30px;text-align: center;      border:10px groove rgb(0, 0, 0);margin: 100px 0px 0px 0px;}

h2{font-family: Arial, Helvetica, sans-serif;font-size: 40px; color: darkviolet;}
p{font-family: 'Times New Roman', Times, serif;font-size: 20px; }
ul{font-family: Arial, Helvetica, sans-serif;color: mediumseagreen;font-size: 30px;}
h3{font-family: Arial, Helvetica, sans-serif;color: cornflowerblue;font-size: 40px;}
h4{font-family: 'Times New Roman', Times, serif; font-size: 20px;}

.margin{margin: 0px 150px 0px 150px;}
.header{font-family: Arial, Helvetica, sans-serif; font-size: 35px;}
.cont{display: flex; flex-direction: row-reverse;}
.list{display: flex; flex-direction: column;}
.para{display: flex; flex-direction: row; }
.poke{padding: 0px 30px 30px 0px ;}

a{color: rgb(54, 98, 63); text-decoration: none;}


a:hover {
    color: orange; 
    text-decoration:underline;
    text-shadow: 5px 5px 20px #00e5ff;
    
  }
  button{width: 25%;height: 8%; font-size: 20px;}
  #more {display: none;}
  #more2 {display: none;}
  #more3 {display: none;}
  #more4 {display: none;}
  #more5 {display: none;}
  #more6 {display: none;}

  .entry {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .entry a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .entry a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .entry a.active {
    background-color:rgb(224, 61, 61);
    color: white;
  }

  .entry{font-size: 50px; font-family: Arial, Helvetica, sans-serif; }