h1{font-family: mightydust;
    color: rgb(234, 24, 182);font-size: 200px;padding: 30px;text-align: center;      border:10px groove rgb(0, 0, 0);margin: 0 auto;margin: 100px 0px 0px 0px;}

    .entry{font-size: 50px; font-family: Arial, Helvetica, sans-serif; }

    h2{font-size: 50px;margin: 100px 50px 0px 100px;}
    .index{display: flex; flex-direction: row;}
    .table{margin: 50px 160px 0px 0px;}

   

    a:hover {
      color: orange; 
      text-decoration:underline;
      text-shadow: 5px 5px 20px #00e5ff;
      
    }
  
    .entry {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    .entry a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .entry a:hover {
      background: #f1f1f1;
      color: black;
    }
    
    .entry a.active {
      background-color: rgb(234, 24, 182);
      color: white;
    }
    
    @font-face {
      font-family: mightydust;
      src: url(mightydust.ttf);
   }

 