h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(234, 24, 182);font-size: 120px;padding: 30px;text-align: center;      border:10px groove rgb(0, 0, 0);margin: 0 auto;}

    .entry{font-size: 50px; font-family: Arial, Helvetica, sans-serif; text-align: center;}