h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(224, 61, 205);font-size: 120px;padding: 30px;text-align: center;      border:10px groove rgb(0, 0, 0);margin: 100px 0px 0px 0px;}

p{font-family: 'Times New Roman', Times, serif; font-size: 20px; margin: 80px 250px 80px 250px;border:5px double rgb(0, 0, 0); padding: 10px;}

h2{font-family: Arial, Helvetica, sans-serif; font-size: 50px; text-align: center;padding:50px 0px 0px 0px ;}
h3{font-family: Arial, Helvetica, sans-serif; font-size: 30px; text-align: center;}
hr.new4 {
    border: 5px solid rgb(0, 0, 0);
  }
 
.comment{text-align: left; font-size: 20px;}
.box{display: flex; justify-content: center;}
.vid{display: flex;justify-content: center;}
.videos{display: flex; flex-direction: column;}
.kira{background-image: linear-gradient(white,pink);}
.saito{background-image: linear-gradient(white,rgb(147, 254, 254));}
.dio{background-image: linear-gradient(white,rgb(253, 235, 133));}
.kirito{background-image: linear-gradient(white,rgb(153, 247, 153));}
.obito{background-image: linear-gradient(white,gray);}
.saitama1{background-image: linear-gradient(white,rgb(217, 131, 254));}
.saitama2{background-image: linear-gradient(white,rgb(250, 135, 135));}
.naruto{background-image: linear-gradient(white,rgb(249, 208, 132));}
.greninjia{background-image:linear-gradient(white,rgb(136, 136, 253))}
.pikachu{background-image: linear-gradient(white,rgb(246, 246, 126));}
.goku{background-image: linear-gradient(white,rgb(247, 201, 115));}

section { /* Initial state, without the class. */
	background-color: rgb(255, 255, 255);
	
	transition: all 1s ease-in-out; /* Transition everything. */
	will-change: transform; /* Improves the aliasing! */
}

section.highlight { /* When the class is applied with JS! */
	background-color: rgb(198, 250, 216);
	
}

.entry {
	
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .entry a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .entry a:hover {
	background: #f1f1f1;
	color: black;
  }
  
  .entry a.active {
	background-color: rgb(224, 61, 205);
	color: white;
  }


  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }