h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(234, 136, 24);font-size: 120px;padding: 30px;text-align: center;      border:10px groove rgb(0, 0, 0);margin: 0 auto;}

    h2{font-family: Arial, Helvetica, sans-serif; font-size: 50px; color: mediumseagreen;}

    h3{font-size: 30px; color: royalblue;}

    p{font-family: 'Times New Roman', Times, serif; font-size: 20px;}