h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(234, 136, 24);font-size: 120px;padding: 30px;text-align: center;      border:10px groove rgb(0, 0, 0);margin: 100px 0px 0px 0px;}

    h2{font-family: Arial, Helvetica, sans-serif; font-size: 50px; color: mediumseagreen;}

    h3{font-size: 30px; color: royalblue;}
    h4{font-size: 70px; font-family: Arial, Helvetica, sans-serif; color: darkgoldenrod;}
    ul{font-size: 35px; font-family: Arial, Helvetica, sans-serif;}

    p{font-family: 'Times New Roman', Times, serif; font-size: 20px;padding: 30px;}
    .header{font-family: Arial, Helvetica, sans-serif; font-size: 35px; color: darkcyan;}
    .q{display: flex; flex-direction: row;}
    .p{display: flex; flex-direction: column;}
    .me{padding: 30px 150px 30px 100px;}
    .img{display: flex; justify-content: space-around;}
    .img2{display: flex; justify-content: center;}
    .margin{margin: 0px 120px 0px 120px;}
    .skt{padding: 0px 0px 0px 100px }
    .para{display: flex; flex-direction: row;}

    a:hover {
        color: orange; 
        text-decoration:underline;
        text-shadow: 5px 5px 20px #00e5ff; }

        * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position:relative;
  margin: 0px 0px 0px 360px ;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right:300px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
          

.entry {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.entry a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.entry a:hover {
  background: #f1f1f1;
  color: black;
}

.entry a.active {
  background-color: rgb(234, 136, 24);
  color: white;
}